.loadingCard{
    cursor: pointer;
    width: 250px;
    height:250px;
    background-color: rgb(248, 248, 248);
    // background-color: red;
    // z-index: 0;
    // position: relative;
    .image{
        width: 100%;
        img{
            width: 100%;
            height:fit-content;
            border-radius: 10px;
        }
    }

    .info{
        .title-avatar{
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0px 0px;
            height:60px;
            .avatar{
                width:20%;
                align-items: center;
                margin-top: 6%;
                img{
                    border-radius: 50%;
                    width:50px;
                    height:fit-content;
                }
            }
            .title{
                padding:0px 2px;
                flex-wrap: wrap;
                font-weight: 500;
                font-size: 14px;
                text-align: left;
            }
        }
        .channel{
            margin-top: 0px;
            font-size: 12px;
            width:100%;
            display: flex;
            text-align: left;
            height: 20px;
            .left{
                width:25%
            }
            .right{
                width:75%
            }
        }

        .view-date{
            display: flex;
            text-align: left;
            height: 10px;
            .left{
                width:25%;
            }
            .view{
                font-size: 10px;    
                width: 10%;
            }
            .date{
                font-size: 10px;
                width: 50%;
            }
        }
    }
}

.loadingCard:hover{
    -webkit-transform: scale(1.25);
    -moz-transform: scale(1.25);
    -ms-transform: scale(1.25);
    transform: scale(1.5);
    -webkit-transition: -webkit-transform 0.25s;
    -moz-transition: -moz-transform 0.25s;
    -ms-transition:  -ms-transform 0.25s;
    transition:  transform 0.25s;
    // transition: 0.5s ease-in-out;
    // cursor: pointer;
    // width: 450px;
    // height:400px;
    // z-index: 5;
    // position: relative;


    // .title{
    //    font-size: 25px;
    // }

    // .channel{
    //     margin-top: 0px;
    //     font-size: 18px;
    //     width:100%;
    //     display: flex;
    //     text-align: left;
    //     height: 20px;
    //     .left{
    //         width:25%
    //     }
    //     .right{
    //         width:75%
    //     }
    // }

    // .view-date{
    //     display: flex;
    //     text-align: left;
    //     height: 10px;
    //     .left{
    //         width:25%;
    //     }
    //     .view{
    //         font-size: 15px;    
    //         width: 10%;
    //     }
    //     .date{
    //         font-size: 15px;
    //         width: 50%;
    //     }
    // }
}
