.main{
    width:100%;
    
    .mainContainer{
        display: flex;
        .infiniteScrollShort{
            margin-top: 73px;
            margin-left: 20%;
            width:80%;
            // background-color: red;
            .outerVideo{
                // height:90vh;
                // width:10vw;
                margin:0 auto;
                .upperVideo{
                    height: 5px;
                }
            }
            .selectButton{
                z-index: 10;
                position: fixed;
                top:10%;
                left:90%;
                background-color: transparent;
                button{
                    background-color: transparent;
                    border:none;
                    cursor: pointer;
                    color:grey;
                }
                button:hover{
                    color:rgb(157, 155, 155);
                }
            }
        }
    }
}
