   /* width */
   ::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(173, 173, 173); 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: grey; 
  }

.sidebar{
    margin-top: 40px;
    width:17%;
    justify-content: center;
    height:90vh;
    overflow-y: auto;
    position: fixed;
    top:40px;
    z-index: 0;

    hr{
        border: 1px solid rgb(220, 220, 220);
    }
    
    .firstItems{
        text-decoration: none;
        list-style: none;
        width: 100%;
        margin:0;
        padding:0;
        .exploreText{
            text-align: left;
            width:83%;
            margin: 0 auto;
            font-size: 25px;
        }
        // justify-content: center;
        // align-items: center;
        .item{
            width:90%;
            height:20px;
            margin:10 auto;
            padding:15px 10px;
            font-size: 18px;
            font-weight: 400;
            border-radius: 20px;
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            .icon{
                padding:5px 0px;

            }
            .text{
                width:80%;
                height:170%;
                text-align: center;
            }

        }
        .item:hover{
            background-color: rgb(239, 238, 238);
            transition:0.1s ease-in-out;
        }
        .signin{
            padding:10px 10px;
    
            button{
                width:100px;
                height:40px;
                border-radius: 20px;
                border: 1px solid rgb(220, 220, 220);
                background-color: transparent;
                text-align: center;
                display: flex;
                cursor: pointer;
                align-items: center;
                justify-content: center;
                margin: 0 auto;
                .icon{
                    padding:5px 0px;
                    color:rgb(7, 111, 255);
                    border:none;
                    .ri-account-cirlce{
                        stroke-width: 1%;
                        border: none;
                    }
                }
                .text{
                    text-align: center;
                    padding: 0px 6px;
                    color:rgb(7, 111, 255);
                    font-weight: 300;
                    stroke-width: 100px;
                }
            }
    
            button:hover{
                background-color: rgba(7, 111, 255,0.1)
            }
        }
    }
}


.collapsed{
    margin-top: 40px;
    width:5%;
    justify-content: center;
    height:90vh;
    overflow-x: none;
    background-color: red;
    /* width */
    ul{
        background-color: blue;
    }
  ::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: red; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #b30000; 
  }



    hr{
        border: 1px solid rgb(204, 204, 204);
    }
    
    .firstItems{
        text-decoration: none;
        list-style: none;
        width: 100%;
        margin:0;
        padding:0;
        .exploreText{
            text-align: left;
            width:83%;
            margin: 0 auto;
            font-size: 25px;
        }
        // justify-content: center;
        // align-items: center;
        .item{
            width:100%;
            height:40px;
            margin:10 auto;
            padding:15px 10px;
            // font-size: 10px;
            font-weight: 400;
            border-radius: 20px;
            cursor: pointer;
            display: inline-block;
            justify-content: center;
            align-items: center;
            .icon{
                padding:5px 0px;
                width:100%;
                font-size: 15px;
            }
            .text{
                width:100%;
                height:170%;
                text-align: center;
                font-size:14px;
            }

        }
        .item:hover{
            background-color: rgb(239, 238, 238);
            transition:0.1s ease-in-out;
        }
        .signin{
            padding:10px 10px;
    
            button{
                width:100px;
                height:40px;
                border-radius: 20px;
                border: 1px solid rgb(202, 202, 202);
                background-color: transparent;
                text-align: center;
                display: flex;
                cursor: pointer;
                align-items: center;
                justify-content: center;
                margin: 0 auto;
                .icon{
                    padding:5px 0px;
                    color:rgb(7, 111, 255);
                    border:none;
                    .ri-account-cirlce{
                        stroke-width: 1%;
                        border: none;
                    }
                }
                .text{
                    text-align: center;
                    padding: 0px 6px;
                    color:rgb(7, 111, 255);
                    font-weight: 300;
                    stroke-width: 100px;
                }
            }
    
            button:hover{
                background-color: rgba(7, 111, 255,0.1)
            }
        }
    }
}