.scrollVideo{
    border-radius:20px;
    margin: 0 auto;
    background-color: black;
    height:90%;
    width:40%;
    img{
        height:100%;
        width:100%;
        border-radius:20px;
    }
}